config PIE
	bool
	help
	  This option adds support for embedding position indepentant (PIE)
	  executables into the kernel. The PIEs can then be copied into
	  genalloc regions such as SRAM and executed. Some platforms require
	  this for suspend/resume support.

